.header_container {
    background-color: #aaa;

    & h1 {
        color: blue;
    }

    & p {
        background-color: green;

    }
    & a {
        background-color: greenyellow;
    }

    @media (max-width: 500px) {
        background-color: red;
    }
}