.footer_container {
    background-color: #aaa;

    & h1 {
        color: blue;
    }

    & p {
        background-color: green;

    }

    @media (max-width: 500px) {
        background-color: red;
    }
}